body
{
	padding-top: 70px;
}

.jumbotron
{
	color: blue;
}

.navbar-inverse
{
	background: blue;
}

.navbar-inverse .navbar-nav>li>a
{
	color: white;
}
.navbar-inverse .navbar-brand
{
	color: white;
}